name: Formatter

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install uv
          uv pip sync
      - name: Run ruff
        run: uv run ruff check .
