name: Formatter

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python and uv
        uses: astral-sh/setup-uv@v1
        with:
          python-version: "3.12"

      - name: Create virtual environment
        run: python -m venv .venv

      - name: Activate virtual environment and install dependencies
        run: |
          source .venv/bin/activate
          uv sync

      - name: Run ruff
        run: |
          source .venv/bin/activate
          uv run ruff check .
